{% extends "mybase.html" %}

{% block content %}

<div class="jumbotron jumbotron-fluid text-center">
    <div class="container">
        <h1 class="gali-header">לוח <img src="{{ url_for('static', filename='img/trophy.png') }}" width=60 height=60></img> </h1>
    </div>
</div>

<div class="row text-center">
    <div class="col justify-content-center">
        <div class="tbl-wrapper">
            <table class="table leader-table">
                <thead>
                    <tr>
                        <th scope="col">מקום</th>
                        <th scope="col">שם</th>
                        <th scope="col">תוצאה</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>Udi</td>
                        <td>Gali</td>
                    </tr>
                    <tr>
                        <th scope="row">1</th>
                        <td>Udi</td>
                        <td>Gali</td>
                    </tr>
                    <tr>
                        <th scope="row">1</th>
                        <td>Udi</td>
                        <td>Gali</td>
                    </tr>
                    <tr>
                        <th scope="row">1</th>
                        <td>Udi</td>
                        <td>Gali</td>
                    </tr>
                    <tr>
                        <th scope="row">1</th>
                        <td>Udi</td>
                        <td>Gali</td>
                    </tr>
                    <tr>
                        <th scope="row">1</th>
                        <td>Udi</td>
                        <td>Gali</td>
                    </tr>
                    <tr>
                        <th scope="row">1</th>
                        <td>Udi</td>
                        <td>Gali</td>
                    </tr>
                    <tr>
                        <th scope="row">1</th>
                        <td>Udi</td>
                        <td>Gali</td>
                    </tr>
                    <tr>
                        <th scope="row">1</th>
                        <td>Udi</td>
                        <td>Gali</td>
                    </tr>
                    <tr>
                        <th scope="row">1</th>
                        <td>Udi</td>
                        <td>Gali</td>
                    </tr>
                    <tr>
                        <th scope="row">1</th>
                        <td>Udi</td>
                        <td>Gali</td>
                    </tr>
                    <tr>
                        <th scope="row">1</th>
                        <td>Udi</td>
                        <td>Gali</td>
                    </tr>
                    <tr>
                        <th scope="row">1</th>
                        <td>Udi</td>
                        <td>Gali</td>
                    </tr>
                    <tr>
                        <th scope="row">1</th>
                        <td>Udi</td>
                        <td>Gali</td>
                    </tr>
                    <tr>
                        <th scope="row">1</th>
                        <td>Udi</td>
                        <td>Gali</td>
                    </tr>
                    <tr>
                        <th scope="row">1</th>
                        <td>Udi</td>
                        <td>Gali</td>
                    </tr>

                </tbody>


            </table>
        </div>
    </div>
</div>

{% endblock %}

{% block footer %} {% include "footer.html" %} {% endblock %}

