{% extends "mybase.html" %}

{% block content %}

<!-- Blog Post -->
<div class="row justify-content-center">
    <div class="col">
    <div id="main">
        {% include "_flashmessages.html" %}

        <div class="jumbotron jumbotron-fluid text-center">
            <div class="container">
              <h1 class="display-4 font-weight-bold">שם המשחק</h1>
              <p class="lead">כאן יהיה תיאור קצר</p>
            </div>
        </div>

        {% from "_formhelpers.html" import render_field %}
    
        <form method="POST" action="submit" role="form">
            {{ form.hidden_tag()  }}
    
            <div class="row justify-content-center text-right">
                <div class="col-6"> 
                    {{ render_field(form.user_id, class='form-control text-right', placeholder="שם משתמש") }}
                </div>
            </div>

            <div class="row text-center">
                <div class="col-4"> 
                    <button type="submit" class="btn btn-primary">לידר</button>
                </div>
                <div class="col-4"> 
                    <button type="submit" class="btn btn-primary">התחל</button>
                </div>
                <div class="col-4"> 
                    <button type="submit" class="btn btn-primary">איך לשחק</button>
                </div>
            </div>

        </form>

    </div>
    </div>
</div>

{% endblock %}

{% block footer %} {% include "footer.html" %} {% endblock %}

